
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

header {
  background-color: #008080;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  background-color: white;
  border-radius: 8px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #eee;
  position: fixed;
  bottom: 0;
  width: 100%;
}
